/************section css  *********/
/************ mise en page et les syles à respecter  *********/
/* section sites touristiques background color #009FB7
section Toursbynight background color #32213A
 section Loisirs background color #43C59E
 bandeau nav background color black
 color white font color 
 font <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
/* font-family: 'Poppins', sans-serif; */
/************ General configuration *********/
 * {
    font-size: 1.05em;
}
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins" , Helvetica, sans-serif;
    background: black;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
li {
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
}
li:hover{
    background-color: #01333a;
}
a {
    color: rgb(196, 14, 44);
    text-decoration: none;
}
a:hover {
    color: yellow;
    text-decoration: none;
    
}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: underline;
}

h3{
    padding: 0%;
    margin: 0%;
}
p{
    color: #ffffff;
    text-align: center;
    width: 50%;
}

/************ body configuration *********/
/** header section **/
header {
    background-image: url('https://cdn.pixabay.com/photo/2020/02/08/12/21/paddle-4829965_960_720.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: 100% auto;
    height: 450px;
    background-position: center;
}
nav {
    background-color: rgb(0, 0, 0);
}
nav ul {
    justify-content: center;
    justify-content: space-evenly;

}
nav a {
    text-decoration: none;
}
/** body section **/
.main-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Touristique {
    background-color: #009FB7;
    width: 100%;
    height: 350px;
    padding: 20px;
}
.Toursbynight {
    background-color: #4A001F;
    width: 100%;
    height: 350px;
    padding: 20px;
}
.Loisirs {
    background-color: #43C59E;
    width: 100%;
    height: 350px;
    padding: 20px;
}
.txt-cadre{
    display: flex;
    justify-content: center;
}
footer {
    background-color: rgba(0, 0, 0 );
    padding: 10px;
    display: flex;
    justify-content: center;
}
/************ page sites touristiques configuration *********/
.main-2{
    background:#009FB7;
    padding: 20px; 
}

.book-ctn {
    padding: 20px;
    display: flex;
    flex-direction: row
}
.art-cadre {
    border: 2px solid #171515;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    margin-right: 10px;
    background: #a89d999c;
    display: grid;
    grid-template-rows: 65% 35%;
   
}
.art-cadre-2 {
    border: 2px solid #171515;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    margin-right: 10px;
    background: #a89d999c;
    display: grid;
    grid-template-rows: 65% 35%;
    padding-bottom: 5%;
}
.book-img {
    width: 100%;
    height: 85%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.book-img-s {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.grid-box {
    display: grid;
}
.p-2{
    width: 100%;  
}
/************ page tours by night configuration *********/
.main-3{
    background: #4A001F;
    padding: 20px; 
}
.book-ctn-2{
    padding: 20px;
    display: flex;
    flex-direction: row;
}
/******page loisirs*****/
.main-4{
    background-color: #43C59E;
    padding: 20px;
}
.book-ctn-4{
    padding: 20px;
    display: flex;
    flex-direction: row;
}
section a{
    color:rgb(37, 79, 94);
}
/************ page contacts **********/
.main-5 {
    background:#009FB7;
    padding: 5%;
}
.p-3{
    width: 100%;
    height: 10%;
    line-height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    justify-content: left;
}
.sexe{
text-align: left;
}
@media screen and (max-width: 940px){
    header{
        background:  center no-repeat url("https://www.tours.fr/uploads/Image/f4/IMF_ACCROCHE/GAB_TOURS/28_388_Vue-aerienne-Tours.jpg");
        display: flex;
        width:auto;
        
    }
    li{
        display: flex;
        justify-content: center;
        flex-direction: initial;
        
    }
    ul {
        display: flex;;
        justify-content: center;
        flex-direction: row;
        transform: translate(-20px);

    }
    .book-ctn{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .book-ctn-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-2{
        width:100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-3{
        width:100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-4{
        width:100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .book-ctn-2{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .art-cadre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
    }
    .art-cadre-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
    }
    li{
        padding: 3px;
    }
}





