/************section css  *********/


/************ mise en page et les syles à respecter  *********/
/* section sites touristiques background color #009FB7
section Toursbynight background color #32213A
 section Loisirs background color #43C59E
 bandeau nav background color black

 color white font color 
 font <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
/* font-family: 'Poppins', sans-serif; */

/************ General configuration *********/


html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins" , Helvetica, sans-serif;

}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    
}
li {
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
    
}
li:hover{
    background-color: rgba(10, 10, 10, 0.85);
}
a {
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
    text-decoration: underline;

}
h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}
h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}
p{
    color: #ffffff;
    text-align: center;
     width: 50%;
}
/************ body configuration *********/



/** header section **/

header {
    background:  center no-repeat url("https://www.tours.fr/uploads/Image/f4/IMF_ACCROCHE/GAB_TOURS/28_388_Vue-aerienne-Tours.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: 100% auto;
    height: 250px;
}
nav {
    background-color: rgba(0, 0, 0, 0.57);
}
/** body section **/
.main-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Touristique {
    background-color: #009FB7;
    width: 100%;
    height: 350px;
    padding: 20px;
}
.Toursbynight {
    background-color: #4A001F;
    width: 100%;
    height: 350px;
    padding: 20px;
}
.Loisirs {
    background-color: #43C59E;
    width: 100%;
    height: 350px;
    padding: 20px;
}
.txt-cadre{
    display: flex;
    justify-content: center;
}
footer {
    background-color: rgba(0, 0, 0 );
    padding: 10px;
    display: flex;
    justify-content: center;
}

/************ page sites touristiques configuration *********/
.main-2{
    background:#009FB7;
    padding: 20px; 
}
.book-ctn2{
    background-color: #4A001F;
    padding: 20px;
    display: flex;
    flex-direction: row
}

.book-ctn {
    background:#009FB7;
    padding: 20px;
    display: flex;
    flex-direction: row
}
.art-cadre {
    border: 1px solid #171515;
    border-radius: 20px;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    margin-right: 10px;
    background: #a89d999c;
}
.book-img {
    width: 100%;
    height: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.book-img:hover {
    width: 100%;
    height: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: inset 0px 18px 34px 5px rgba(203,197,255,0.49);
}
.p-2{
    width: 100%;
}

/************ page contacts **********/

/************ page tours by night configuration *********/
.main-3{
    background:#009FB7;
    padding: 20px; 
}
